<main>
    <div class="container">
        <table>
             <thead>
                 <tr>
                     <th>Data</th>
                     <th>Descrição</th>
                     <th>Valor R$</th>
                     <th>Saldo</th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <td>01/01/2022</td>
                     <td>Compra mercado</td>
                     <td><font color="#cc0000">350,00</font></td>
                     <td><font color="#29cb0c">10.570,00</font></td>
                 </tr>
                <tr>
                    <td>04/01/2022</td>
                    <td>Deposito recebido</td>
                    <td><font color="#29cb0c">3.750,00</font></td>
                    <td><font color="#29cb0c">14.320,00</font></td>
                </tr>
                <tr>
                    <td>06/01/2022</td>
                    <td>Amazon prime</td>
                    <td><font color="#cc0000">20,00</font></td>
                    <td><font color="#29cb0c">14.300,00</font></td>
                </tr>
                <tr>
                    <td>08/01/2022</td>
                    <td>Boleto internet</td>
                    <td><font color="#cc0000">110,00</font></td>
                    <td><font color="#29cb0c">14.190,00</font></td>
                </tr>
                <tr>
                    <td>09/01/2022</td>
                    <td>Conta de gás</td>
                    <td><font color="#cc0000">120,00</font></td>
                    <td><font color="#29cb0c">14.070,00</font></td>
                </tr>
                <tr>
                    <td>11/01/2022</td>
                    <td>Compra mercado</td>
                    <td><font color="#cc0000">1.250,00</font></td>
                    <td><font color="#29cb0c">12.820,00</font></td>
                </tr>
                <tr>
                    <td>12/01/2022</td>
                    <td>Netflix</td>
                    <td><font color="#cc0000">50,00</font></td>
                    <td><font color="#29cb0c">12.770,00</font></td>
                </tr>
               <tr>
                   <td>14/01/2022</td>
                   <td>Conta de luz</td>
                   <td><font color="#cc0000">350,00</font></td>
                   <td><font color="#29cb0c">12.420,00</font></td>
               </tr>
               <tr>
                   <td>15/01/2022</td>
                   <td>Deposito recebido</td>
                   <td><font color="#29cb0c">850,00</font></td>
                   <td><font color="#29cb0c">13.270,00</font></td>
               </tr>
               <tr>
                   <td>17/01/2022</td>
                   <td>Cinema Norte</td>
                   <td><font color="#cc0000">67,00</font></td>
                   <td><font color="#29cb0c">13.203,00</font></td>
               </tr>
               <tr>
                   <td>20/01/2022</td>
                   <td>Conta de gás</td>
                   <td><font color="#cc0000">135,00</font></td>
                   <td><font color="#29cb0c">13.068,00</font></td>
               </tr>
                <tr>
                     <td>21/01/2022</td>
                     <td>Restaurante Bom Prato</td>
                     <td><font color="#cc0000">147,00</font></td>
                     <td><font color="#29cb0c">12.921,00</font></td>
                </tr>
                <tr>
                    <td>25/01/2022</td>
                    <td>Posto Gasolina</td>
                    <td><font color="#cc0000">50,00</font></td>
                    <td><font color="#29cb0c">12.871,00</font></td>
                </tr>
                <tr>
                    <td>26/01/2022</td>
                    <td>Conta de água</td>
                    <td><font color="#cc0000">93,00</font></td>
                    <td><font color="#29cb0c">12.778,00</font></td>
                </tr>
                <tr>
                    <td>29/01/2022</td>
                    <td>Loja Calçados</td>
                    <td><font color="#cc0000">125,00</font></td>
                    <td><font color="#29cb0c">12.653,00</font></td>
                </tr>
             </tbody>
         </table>
     </div>
</main>